<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Back" defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
      
    <ion-title>
        {{name}}
    </ion-title>
  </ion-toolbar> 
  

</ion-header>

<ion-content>

 

  <ion-card>
    <ion-button
            [color]="buttonVal == 0 ? 'success': ''"
            (click)= "getReadingsAll()"
            >All data
    </ion-button>
    <ion-button

            [color]="buttonVal == 1 ? 'success': ''"
            (click)= "getReadingsOney()"
             >Last Year
    </ion-button>

  <!-- <ion-button color ="success" (click)= "getReadings()" >Last Six Months</ion-button> -->
  <ion-button
              [color]="buttonVal == 2 ? 'success': ''"
              (click)= "getReadings()"
              >Last Six Months
  </ion-button>

    <ion-button
            [color]="buttonVal == 3 ? 'success': ''"
            (click)= "getReadingsThree()"
            >Last Three Months
    </ion-button>

    <ion-button
            [color]="buttonVal == 4 ? 'success': ''"
            (click)= "getReadingsOnem()"
            >Last One Month
    </ion-button>
 


    <ion-card-content zooming="true" direction="xy"> 
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>



  <ion-card>
    
    <ion-card-header>
      {{name}}
    </ion-card-header>
    <ion-card-content>

  
     
      <ion-grid zooming="true" direction="xy" border="1">
        <ion-row style="font-weight: bold;">
          <ion-col>Date</ion-col>
          <ion-col>Height</ion-col>
        </ion-row>
        <ng-container *ngFor="let dat of data;let i = index;" >
          <ion-row  *ngIf="loadAllData || i<4">
            <!-- <ion-col style="color: #92a8d1;border-style: solid;
              border-width: 2px;">{{dat['date']}}</ion-col> -->
             <!-- <ion-col style="color: green;border-style: solid;
              border-width: 2px;">{{dat['height']}}</ion-col> -->
              <ion-col>{{dat['date']}}</ion-col>
              <ion-col>{{dat['height']}}</ion-col>


          </ion-row>
        </ng-container>
        <ion-button *ngIf="!loadAllData" color="success" expand="block" (click)="LoadAllReadings()">Load All Readings</ion-button>
      </ion-grid>
     
    </ion-card-content>
  </ion-card>
 

</ion-content>

