<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="https://www.locss.org/theme/images/logo.svg" />
      LOCSS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card class="card">
    <ion-card-content style="padding-bottom:0;margin-bottom: -0.7rem;padding-top:0.5rem;">
      <ion-text>
        <h1 class="h1class">The Lake Observations by Citizen Scientists & Satellites project seeks to
          better understand how the quanity of water in lakes is changing.</h1>
        <br>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card class="card1">
    <ion-card-content style="background-color: white;">
      <ion-text>
        <h1 class="para" style="margin-top: -0.6rem;">
          Project developed by: </h1>
        <img style="width:700px;" height="90"
          src="https://www.locss.org/uploads/assets/partners/_full/UNC_logo_RGB-300x82.png" />
        <h1 class="para"> In collaboration with: </h1>
        <table>
          <tr>
            <td style="padding-right: 1rem;">
              <img style="width:350px;" height="90" src="http://liquidearthlake.website/public/image/ttu_logo.png" />
            </td>
            <td>
              <img style="width:350px;" height="90"
                src="http://liquidearthlake.website/public/image/washington_logo.png" />
            </td>
          </tr>
        </table>
        <h1 class="para">With funding provided by: </h1>
        <div class="d-flex justify-content-center">
          <img style="width:128px;" height="112"
            src="https://www.locss.org/uploads/assets/partners/_full/NASA_logo.svg.png" />
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>